.BreezeBlue_white.rnr-s-empty > .rnr-c
{
background:none;

}
.BreezeBlue_white.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.BreezeBlue_white.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-menu > .rnr-c
{
border: solid #C0C0C0 2px;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.BreezeBlue_white.rnr-s-menu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 8px; padding-left: 5px;
border-bottom-left-radius: 8px; padding-left: 5px;

}
.BreezeBlue_white.rnr-s-menu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 8px; padding-right: 5px;
border-bottom-right-radius: 8px; padding-right: 5px;

}
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #EDF1F3;color: #333333;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #EDF1F3;
}
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #D2D8DC;color: #333333;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #D2D8DC;color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.BreezeBlue_white.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-hmenu > .rnr-c
{
background:none;

}
.BreezeBlue_white.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.BreezeBlue_white.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-undermenu > .rnr-c
{
border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
}
.BreezeBlue_white.rnr-s-undermenu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 5px; padding-left: 2px;
border-bottom-left-radius: 5px; padding-left: 2px;

}
.BreezeBlue_white.rnr-s-undermenu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 5px; padding-right: 2px;
border-bottom-right-radius: 5px; padding-right: 2px;

}
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #16589C;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #16589C;
}
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-left: 5px;
}
.BreezeBlue_white.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-right: 5px;
}
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.BreezeBlue_white.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-fields > .rnr-c
{
border: solid #DCDCDC 1px;border-top-right-radius: 8px;border-bottom-left-radius: 8px;
}
.BreezeBlue_white.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 7px; padding-right: 4px;

}
.BreezeBlue_white.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-bottom-left-radius: 7px; padding-left: 4px;

}
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #333381;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #105198;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFFFF;color: #696969;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-left: 8px;
}
.BreezeBlue_white.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-right: 8px;
}
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 4px 2px;
}
.BreezeBlue_white.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 8px; background:transparent;
}
.BreezeBlue_white.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 8px; background:transparent;
}
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-form > .rnr-c
{
border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.BreezeBlue_white.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.BreezeBlue_white.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.BreezeBlue_white.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-1 > .rnr-c
{
border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
}
.BreezeBlue_white.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 5px; padding-left: 2px;
border-bottom-left-radius: 5px; padding-left: 2px;

}
.BreezeBlue_white.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 5px; padding-right: 2px;
border-bottom-right-radius: 5px; padding-right: 2px;

}
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #16589C;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #16589C;
}
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #3366FF;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-left: 5px;
}
.BreezeBlue_white.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-right: 5px;
}
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.BreezeBlue_white.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 5px; background:transparent;
}
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-2 > .rnr-c
{
border: solid #DCDCDC 2px;border-top-right-radius: 12px;border-bottom-left-radius: 12px;
}
.BreezeBlue_white.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 6px;

}
.BreezeBlue_white.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-bottom-left-radius: 10px; padding-left: 6px;

}
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #EDF1F3;color: #333333;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-2 > .rnr-c.rnr-ch
{
background-image: none; background-color: #EDF1F3;
}
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-left: 12px;
}
.BreezeBlue_white.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-right: 12px;
}
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 9px 9px;
}
.BreezeBlue_white.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 12px; background:transparent;
}
.BreezeBlue_white.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 12px; background:transparent;
}
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-3 > .rnr-c
{
border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.BreezeBlue_white.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.BreezeBlue_white.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style1,
.BreezeBlue_white.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style2,
.BreezeBlue_white.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style3,
.BreezeBlue_white.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.BreezeBlue_white.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.BreezeBlue_white.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.BreezeBlue_white.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 2px;

}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #D8DCDE 2px;

}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-left: solid #D8DCDE 2px;

}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-right: solid #D8DCDE 2px;

}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:first-child,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:first-child,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:first-child,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:first-child,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + td,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + td,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + th,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + th
{
border-top-left-radius: 8px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:first-child,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:first-child,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > th:first-child,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > th:first-child,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + td,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + td,
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + th,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + th
{
border-bottom-left-radius: 8px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > .rnr-edge,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > .rnr-edge
{
border-top-right-radius: 8px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > .rnr-edge,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > .rnr-edge
{
border-bottom-right-radius: 8px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > * > .rnr-edge,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > * > .rnr-edge
{
min-width: 8px;

}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #16589C;
background: -webkit-linear-gradient(bottom, #8AABCD, #16589C);
background: -moz-linear-gradient(bottom, #8AABCD, #16589C);
background: -ms-linear-gradient(bottom, #8AABCD, #16589C);
background: -o-linear-gradient(bottom, #8AABCD, #16589C);
;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 6px 5px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #DCE2E6;
background: -webkit-linear-gradient(top, #EDF0F2, #DCE2E6);
background: -moz-linear-gradient(top, #EDF0F2, #DCE2E6);
background: -ms-linear-gradient(top, #EDF0F2, #DCE2E6);
background: -o-linear-gradient(top, #EDF0F2, #DCE2E6);
;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;padding: 5px 4px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #EDF1F3; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 6px 4px;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #DCDCDC; background-image: none;color: #333333;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C0C0C0; background-image: none;color: #333333;
}
.BreezeBlue_white.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > tr.rnr-row > td:not(.rnr-cs),
.BreezeBlue_white.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > tr.rnr-row > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.BreezeBlue_white .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > *,
.BreezeBlue_white .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #DFE2E4;color:#333333;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > hr,
.BreezeBlue_white .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#333333;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.BreezeBlue_white .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > *.current.current.current,
.BreezeBlue_white .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > ul li,
.BreezeBlue_white .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #DFE2E4;color:#333333;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > ul li > hr,
.BreezeBlue_white .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#333333;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.BreezeBlue_white .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.BreezeBlue_white .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.BreezeBlue_white .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 6px 4px; margin:1px 2px;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 6px 4px; margin:1px 2px;
}
.BreezeBlue_white .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > *,
.BreezeBlue_white .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #DFE2E4;color:#333333;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > hr,
.BreezeBlue_white .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#333333;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.BreezeBlue_white .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > *.current.current.current,
.BreezeBlue_white .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > ul li,
.BreezeBlue_white .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #DFE2E4;color:#333333;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > ul li > hr,
.BreezeBlue_white .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#333333;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.BreezeBlue_white .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.BreezeBlue_white .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.BreezeBlue_white .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 6px 4px; margin:1px 2px;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 6px 4px; margin:1px 2px;
}
.BreezeBlue_white .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.BreezeBlue_white .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background-image:none; background-color: #6699CC;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border-top-left-radius: 6px;border-top-right-radius: 6px;border: solid #000000 1px;
}
.BreezeBlue_white .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.BreezeBlue_white .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #00FFFF;color:#000080;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.main > ul li > hr
{
border-color:#000080;
}
.BreezeBlue_white .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #3366FF;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.main > ul li > div > div
{
padding: 4px 4px; margin:1px 2px;
}
.BreezeBlue_white .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.BreezeBlue_white .rnr-b-hmenu.main.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
.BreezeBlue_white .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-image:none; background-color: #6699CC;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border-top-left-radius: 6px;border-top-right-radius: 6px;border: solid #000000 1px;
}
.BreezeBlue_white .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.BreezeBlue_white .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #16589C;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #00FFFF;color:#000080;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.second > ul li > hr
{
border-color:#000080;
}
.BreezeBlue_white .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #3366FF;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #00CCCC;color:#0000FF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-b-hmenu.second > ul li > div > div
{
padding: 4px 4px; margin:1px 2px;
}
.BreezeBlue_white .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.BreezeBlue_white .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.BreezeBlue_white
{

background-color:#EBEDEF;
}
.BreezeBlue_white .rnr-list
{
color: #000000;background-color: #DCE2E6;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #696969 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.BreezeBlue_white .rnr-tab.selected
{
background-color:#0000FF;
border-top-left-radius:4px;
border-top-right-radius:4px;

}
.BreezeBlue_white .rnr-tab
{
background-color:#C0C0C0;
border-top-left-radius:4px;
border-top-right-radius:4px;
border: solid #000000 1px; border-bottom-width:0;
}
.BreezeBlue_white .rnr-tab.selected > a
{
color: #FFFFFF;

}
.BreezeBlue_white .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .yui-navset .yui-content
{
border: solid #0000FF 1px;border-top-width: 5px;
}
.BreezeBlue_white  .rnr-message
{
background-color: #DFE2E4;border: solid #16589C 1px;color: #008000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .yui3-panel-content.yui3-panel-content
{
border-radius: 5px;
}
.BreezeBlue_white  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #004080; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.BreezeBlue_white  .yui3-widget-ft
{
background-color: #105198; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.BreezeBlue_white .rnr-dbbordered
{
border-radius: 5px;
}
.BreezeBlue_white  .rnr-dbelemheader
{
background-color: #004080; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.BreezeBlue_white  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;color: #000000;
}
.BreezeBlue_white  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #4C4951;
}
.BreezeBlue_white .rnr-dashboard
{
background-color: #FFFFFF;
}
.BreezeBlue_white .rnr-button.rnr-button,
.BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.BreezeBlue_white .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .BreezeBlue_white .rnr-button.rnr-button,
 .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button.rnr-button
{
border: none;border-radius: 4px;padding: 3px 10px 3px;background-color: #DFE2E4;
background: -webkit-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -moz-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -ms-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -o-linear-gradient(bottom, #EFF0F1, #DFE2E4);
;
border-color: #000000;color: #333333;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .rnr-button.rnr-button.img,
.BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.BreezeBlue_white .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .BreezeBlue_white .rnr-button.rnr-button.img,
 .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.BreezeBlue_white .rnr-button:hover,
.BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.BreezeBlue_white .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .BreezeBlue_white .rnr-button:hover,
 .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button:hover
{
background-color: #FFFFFF;
background: -webkit-linear-gradient(bottom, #FFFFFF, #FFFFFF);
background: -moz-linear-gradient(bottom, #FFFFFF, #FFFFFF);
background: -ms-linear-gradient(bottom, #FFFFFF, #FFFFFF);
background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF);
;
border-color: #000000;color: #333333;

}
.BreezeBlue_white .rnr-button:active,
.BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.BreezeBlue_white .button.button.button.rnr-button:active,
 .rnr-pagewrapper .BreezeBlue_white .rnr-button:active,
 .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button:active
{
background-color: #DFE2E4;
background: -webkit-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -moz-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -ms-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -o-linear-gradient(bottom, #EFF0F1, #DFE2E4);
;
border-color: #000000;color: #333333;

}
.BreezeBlue_white .rnr-button.disabled,
.BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.BreezeBlue_white .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .BreezeBlue_white .rnr-button.disabled,
 .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .button.button.button.rnr-button.disabled
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(bottom, #DFDFDF, #C0C0C0);
background: -moz-linear-gradient(bottom, #DFDFDF, #C0C0C0);
background: -ms-linear-gradient(bottom, #DFDFDF, #C0C0C0);
background: -o-linear-gradient(bottom, #DFDFDF, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
.BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.BreezeBlue_white .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button.rnr-button
{
border: solid 2px;border-radius: 6px;padding: 4px 8px 4px;background-color: #DFE2E4;
background: -webkit-linear-gradient(top, #E5E7E9, #DFE2E4, #E5E7E9);
background: -moz-linear-gradient(top, #E5E7E9, #DFE2E4, #E5E7E9);
background: -ms-linear-gradient(top, #E5E7E9, #DFE2E4, #E5E7E9);
background: -o-linear-gradient(top, #E5E7E9, #DFE2E4, #E5E7E9);
;
border-color: #16589C;color: #004080;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.BreezeBlue_white .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.BreezeBlue_white .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button:hover
{
background-color: #FFFFFF;
background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF);
background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF);
background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF);
background: -o-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF);
;
border-color: #16589C;color: #3366FF;

}
.BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.BreezeBlue_white .link.link.link.rnr-button:active,
 .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button:active
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
background: -moz-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
background: -ms-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
background: -o-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
;
border-color: #16589C;color: #004080;

}
.BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.BreezeBlue_white .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .link.link.link.rnr-button.disabled
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
background: -moz-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
background: -ms-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
background: -o-linear-gradient(top, #CCCCCC, #C0C0C0, #CCCCCC);
;
border-color: #16589C;color: #004080;

}
.BreezeBlue_white .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button.rnr-button
{
border: none;border-radius: 4px;padding: 3px 10px 3px;background-color: #DFE2E4;
background: -webkit-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -moz-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -ms-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -o-linear-gradient(bottom, #EFF0F1, #DFE2E4);
;
border-color: #000000;color: #333333;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.BreezeBlue_white .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.BreezeBlue_white .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button:hover
{
background-color: #FFFFFF;
background: -webkit-linear-gradient(bottom, #FFFFFF, #FFFFFF);
background: -moz-linear-gradient(bottom, #FFFFFF, #FFFFFF);
background: -ms-linear-gradient(bottom, #FFFFFF, #FFFFFF);
background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF);
;
border-color: #000000;color: #333333;

}
.BreezeBlue_white .main.main.main.rnr-button:active,
 .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button:active
{
background-color: #DFE2E4;
background: -webkit-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -moz-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -ms-linear-gradient(bottom, #EFF0F1, #DFE2E4);
background: -o-linear-gradient(bottom, #EFF0F1, #DFE2E4);
;
border-color: #000000;color: #333333;

}
.BreezeBlue_white .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .BreezeBlue_white .main.main.main.rnr-button.disabled
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(bottom, #DFDFDF, #C0C0C0);
background: -moz-linear-gradient(bottom, #DFDFDF, #C0C0C0);
background: -ms-linear-gradient(bottom, #DFDFDF, #C0C0C0);
background: -o-linear-gradient(bottom, #DFDFDF, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
