<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel productos edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN tipo_fieldblock}
<tr class="{$fielddispclass_tipo}" data-fieldname="tipo">
	<td class="rnr-label">
		{BEGIN tipo_label}{$label productos tipo}{END tipo_label}
	</td>
	<td class="rnr-control style3">
		{$tipo_editcontrol}&nbsp;
	</td>
</tr>
{END tipo_fieldblock}
	{BEGIN Observacion_fieldblock}
<tr class="{$fielddispclass_Observacion}" data-fieldname="Observacion">
	<td class="rnr-label">
		{BEGIN Observacion_label}{$label productos Observacion}{END Observacion_label}
	</td>
	<td class="rnr-control style3">
		{$Observacion_editcontrol}&nbsp;
	</td>
</tr>
{END Observacion_fieldblock}
	{BEGIN Precio_fieldblock}
<tr class="{$fielddispclass_Precio}" data-fieldname="Precio">
	<td class="rnr-label">
		{BEGIN Precio_label}{$label productos Precio}{END Precio_label}
	</td>
	<td class="rnr-control style3">
		{$Precio_editcontrol}&nbsp;
	</td>
</tr>
{END Precio_fieldblock}
	{BEGIN Exitencia_fieldblock}
<tr class="{$fielddispclass_Exitencia}" data-fieldname="Exitencia">
	<td class="rnr-label">
		{BEGIN Exitencia_label}{$label productos Exitencia}{END Exitencia_label}
	</td>
	<td class="rnr-control style3">
		{$Exitencia_editcontrol}&nbsp;
	</td>
</tr>
{END Exitencia_fieldblock}
	{BEGIN foto1_fieldblock}
<tr class="{$fielddispclass_foto1}" data-fieldname="foto1">
	<td class="rnr-label">
		{BEGIN foto1_label}{$label productos foto1}{END foto1_label}
	</td>
	<td class="rnr-control style3">
		{$foto1_editcontrol}&nbsp;
	</td>
</tr>
{END foto1_fieldblock}
	{BEGIN foto2_fieldblock}
<tr class="{$fielddispclass_foto2}" data-fieldname="foto2">
	<td class="rnr-label">
		{BEGIN foto2_label}{$label productos foto2}{END foto2_label}
	</td>
	<td class="rnr-control style3">
		{$foto2_editcontrol}&nbsp;
	</td>
</tr>
{END foto2_fieldblock}
	{BEGIN foto3_fieldblock}
<tr class="{$fielddispclass_foto3}" data-fieldname="foto3">
	<td class="rnr-label">
		{BEGIN foto3_label}{$label productos foto3}{END foto3_label}
	</td>
	<td class="rnr-control style3">
		{$foto3_editcontrol}&nbsp;
	</td>
</tr>
{END foto3_fieldblock}
	{BEGIN foto4_fieldblock}
<tr class="{$fielddispclass_foto4}" data-fieldname="foto4">
	<td class="rnr-label">
		{BEGIN foto4_label}{$label productos foto4}{END foto4_label}
	</td>
	<td class="rnr-control style3">
		{$foto4_editcontrol}&nbsp;
	</td>
</tr>
{END foto4_fieldblock}
	{BEGIN nombre_fieldblock}
<tr class="{$fielddispclass_nombre}" data-fieldname="nombre">
	<td class="rnr-label">
		{BEGIN nombre_label}{$label productos nombre}{END nombre_label}
	</td>
	<td class="rnr-control style3">
		{$nombre_editcontrol}&nbsp;
	</td>
</tr>
{END nombre_fieldblock}
	{BEGIN modelo_fieldblock}
<tr class="{$fielddispclass_modelo}" data-fieldname="modelo">
	<td class="rnr-label">
		{BEGIN modelo_label}{$label productos modelo}{END modelo_label}
	</td>
	<td class="rnr-control style3">
		{$modelo_editcontrol}&nbsp;
	</td>
</tr>
{END modelo_fieldblock}
	{BEGIN marca_fieldblock}
<tr class="{$fielddispclass_marca}" data-fieldname="marca">
	<td class="rnr-label">
		{BEGIN marca_label}{$label productos marca}{END marca_label}
	</td>
	<td class="rnr-control style3">
		{$marca_editcontrol}&nbsp;
	</td>
</tr>
{END marca_fieldblock}
	{BEGIN color_fieldblock}
<tr class="{$fielddispclass_color}" data-fieldname="color">
	<td class="rnr-label">
		{BEGIN color_label}{$label productos color}{END color_label}
	</td>
	<td class="rnr-control style3">
		{$color_editcontrol}&nbsp;
	</td>
</tr>
{END color_fieldblock}
	{BEGIN tama_o_fieldblock}
<tr class="{$fielddispclass_tama_o}" data-fieldname="tama_o">
	<td class="rnr-label">
		{BEGIN tama_o_label}{$label productos tama_o}{END tama_o_label}
	</td>
	<td class="rnr-control style3">
		{$tama_o_editcontrol}&nbsp;
	</td>
</tr>
{END tama_o_fieldblock}
	{BEGIN Categorias_id_fieldblock}
<tr class="{$fielddispclass_Categorias_id}" data-fieldname="Categorias_id">
	<td class="rnr-label">
		{BEGIN Categorias_id_label}{$label productos Categorias_id}{END Categorias_id_label}
	</td>
	<td class="rnr-control style3">
		{$Categorias_id_editcontrol}&nbsp;
	</td>
</tr>
{END Categorias_id_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN save_button}
<a href="#" class="rnr-button main" {$savebutton_attrs}>Guardar</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
{END close_button}
{BEGIN view_page_button}
<a href="#" class="rnr-button" {$view_page_button_attrs}>Ver</a>
{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
