<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Categorias_id">
	{$Categorias_id_editcontrol}
	</control>
	<control field="nombre">
	{$nombre_editcontrol}
	</control>
	<control field="modelo">
	{$modelo_editcontrol}
	</control>
	<control field="marca">
	{$marca_editcontrol}
	</control>
	<control field="tipo">
	{$tipo_editcontrol}
	</control>
	<control field="color">
	{$color_editcontrol}
	</control>
	<control field="tama_o">
	{$tama_o_editcontrol}
	</control>
	<control field="Precio">
	{$Precio_editcontrol}
	</control>
	<control field="Observacion">
	{$Observacion_editcontrol}
	</control>
	<control field="Exitencia">
	{$Exitencia_editcontrol}
	</control>
	<control field="foto1">
	{$foto1_editcontrol}
	</control>
	<control field="foto2">
	{$foto2_editcontrol}
	</control>
	<control field="foto3">
	{$foto3_editcontrol}
	</control>
	<control field="foto4">
	{$foto4_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>