<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="no_tarjeta">
	{$no_tarjeta_editcontrol}
	</control>
	<control 
	field="TipoPago">
	{$TipoPago_editcontrol}
	</control>
	<control 
	field="fechadevencimiento">
	{$fechadevencimiento_editcontrol}
	</control>
	<control 
	field="codverificacion">
	{$codverificacion_editcontrol}
	</control>
	<control 
	field="fechanacimiento">
	{$fechanacimiento_editcontrol}
	</control>
	<control 
	field="Usuario_id">
	{$Usuario_id_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
